@charset "utf-8";
/* login.html--begin */
.map-content{
	width: 100%;
	max-width: 1145px;
	margin: 0 auto;
	padding-bottom: 60px;
	padding: 0px 10px 60px;
}
.back-tit{
	margin: 40px 0;
}
.back-tit i{
	display: inline-block;
	background: url(../images/checkout/back-car-icon.png) no-repeat left center;
	width: 15px;
	height: 15px;
	float: left;
	margin-right: 17px;
}
.address-name h1{
	font-size: 24px;
	font-weight: normal;
	font-family: 'Microsoft Yahei';
}
.address-name .address-e{
	font-size: 16px;
	margin-bottom: 25px;
}
.address-name .address-detail{
	font-size: 14px;
	margin-bottom: 25px;
}
.map-pic{
	margin-bottom: 30px;
	width: 100%;
}
.map-pic img{
	display: block;
	width: 100%;
}
.map-pro .title{
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 25px;
}
.map-pro p{
	font-size: 14px;
	line-height: 24px;
}
.offline-shop{
	margin-bottom: 40px;
}
.offline-shop .search-shop{
	display: inline-block;
	width: 180px;
	height: 44px;
	line-height: 44px;
	font-size: 14px;
	font-weight: 100;
	color: #fff;
	text-align: center;
	background: #e70033;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
.offline-shop .search-shop span{
	/* background: url(../images/arrow-2.png) right center no-repeat;
	padding-right: 20px; */
}
.offline-shop .dk-selected {
	padding: 5px 20px 5px 25px;
}
.offline-shop .dk-select{
	width: 26%;
	margin-right: 1%;
}
.map-wrap{
	max-width: 1160px;
	width: auto;
	margin: 0px auto;
	padding: 35px 10px 0px;
}
.map-wrap h1{
	font-size: 24px;
	padding-bottom: 20px;
}
.can-search{
	font-size: 14px;
	line-height: 24px;
}
.shop-list .txt{
	float: left;
}
.shop-list .pic{
	float: right;
	border:#e5e5e5 6px solid;
}
.shop-list ul{
	border-top: #7f7f7f 1px dashed;
}
.shop-list ul li{
	border-bottom: #7f7f7f 1px dashed;
	padding: 24px 0;
}
.shop-list dt{
	font-size: 16px;
	font-weight: bold;
}
.shop-list dd{
	font-size: 14px;
	line-height: 24px;
}
.shop-list dd.m-pic{
	display: none;
}
.shop-list dd.mb15{
	margin-bottom: 15px;
}
.see-shop{
	clear: both;
}
.see-shop a{
	color: #034778;
	font-size: 14px;
	font-weight: bold;
}

.forbiddena{background:#ccc !important;}
.forbiddenb{display: none !important;}


.offline-shop label{
	float:left;
	margin: 12px 0px 0px 0px;
    font-weight: bold;
}
.offline-shop-region{
	width: 26%;
	height: 44px;
	line-height: 44px;
	margin: 0px 21px 0px 0px;
	font-size: 12px;
	background: transparent url("../images/listing/screening-3.png") no-repeat scroll 98% 6px;
	position: relative;
	text-align: left;
	float: left;
	border: 1px solid #D7D7D7;
	border-radius: 5px;
	padding: 0px 25px;
	cursor: pointer;
	color: #acacac;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.offline-shop-region.offline-shop-province{
}
.offline-shop-region.offline-shop-city{
}
.offline-shop-region span {
    color: #acacac;
}
.offline-shop-region  select {
	height: 44px;
    width: 100%;
    padding: 10px 16px;
     padding: 0px;
    opacity: 0;
    position: absolute;
    top: -1px;
    left: 0px;
    font-size: 12px;
    color: #acacac;
    cursor: pointer;
     border: 1px solid #D7D7D7; 
}
.offline-shop-region select option{
	padding: 5px;
	color: #acacac;
}

.offline-shop .search-shop:hover {background: #ce002d;}

/*6-26add*/
.map-back-tit i{margin-right: 8px;}
.map-back-tit a{color: #ACACAC;font-size: 12px;}
.address-name .address-detail { margin-top: 25px;}
.back-tit { margin: 40px 0px 30px;}
.map-pro .title { margin:30px auto 25px;}

@media screen and (max-width:767px){
	.map-wrap{
		margin: 0 10px;
	}
	.map-detail-content{
		display: none;
	}
	.map-wrap h1{
		text-align: center;
		border-bottom: #7f7f7f 1px dashed;
		font-size: 18px;
		line-height: 43px;
		margin-bottom: 15px;
		padding-bottom: 0px;
	}
	.shop-list .pic{
		display: none;
	}
	.shop-list .txt{
		float: none;
	}
	.shop-list dd.m-pic{
		border:#e5e5e5 6px solid;
		width: 100%;
		max-width: 312px;
		margin-bottom: 15px;
	}
	.offline-shop label{
		font-size: 12px;
		height: 32px;
		line-height: 32px;
		display: inline-block;
	}
	.offline-shop .dk-selected{
	  padding: 0px 20px 0px 10px;
	}
	.offline-shop .dk-select{
		width: 30%;
	}
	.offline-shop .search-shop{
		width: 105px;
		height: 32px;
		line-height: 32px;
		margin-top: 15px;
		margin-right: 100px;
	}
	.offline-shop .search-shop span{
		background: url(../images/arrow-2.png) right center no-repeat;
		background-size: 15%;
		padding-right: 20px;
	}
	.shop-list ul{
		border-top:none;
		padding-bottom: 70px;
	}
	.shop-list ul li {
	  border-top: #7f7f7f 1px dashed;
	  border-bottom:none;
	  padding: 24px 0;
	}
	
	.offline-shop label {
	    font-size: 12px;
	    height: 32px;
	    line-height: 32px;
	    display: inline-block;
	    float: left;
	    margin: 0px;
	}
	.offline-shop-region {
	    width: 29%;
	    height: 32px;
	    line-height: 32px;
	    margin: 0px 11px 0px 0px;
	    font-size: 12px;
	    background: transparent url("../images/listing/screening-2.png") no-repeat scroll 100% 0px;
		border-radius: 3px;
		padding: 0px 20px 0px 5px;
		background-size: 19px 30px;
	}
	.offline-shop-region select {
	    height: 32px;
	    padding: 0px;
	    top: -1px;
	    left: 0px;
	    font-size: 12px;
	}
	.offline-shop-region.offline-shop-city {
		margin: 0px;
	}
	.offline-shop .search-shop span {
	    background: none;
	    padding-right: 0px;
	}	
	.offline-shop {
	    margin-bottom: 18px;
	}
	
/*6-26add*/
.back-tit { margin: 40px 0px 15px;}
.address-name h1 { font-size: 22px;}
.address-name .address-detail { margin: 15px 0px;}
.map-pro .title { margin: 15px auto 10px;}
.map-content { padding: 0px 10px 40px;}
	
	
	
}