<!-- 多个明星轮播 -->
<div id="iSlide">
    <div class="fo-wap">
        <div id="swiper-container4" class="fo-st clear star_swiper_container swiper-container-horizontal">
            <ul class="swiper-wrapper">
                <li class="swiper-slide">
                    <div class="star-title"><img class="star-name" src="http://localhost/SportMall/src/images/story/star/star1-hd.png"></div>
                    <div class="star-pic opacity-img">
                        <a href="/brand/armourvents.htm"><img src="http://localhost/SportMall/src/images/story/star/star1.jpg"></a>
                    </div>
                </li>
                <li class="swiper-slide">
                    <div class="star-title"><img class="star-name" src="http://localhost/SportMall/src/images/story/star/star1-hd.png"></div>
                    <div class="star-pic">
                        <a href="/brand/armourvents.htm"><img src="http://localhost/SportMall/src/images/story/star/star1.jpg"></a>
                    </div>
                </li>
                <li class="swiper-slide">
                    <div class="star-title"><img class="star-name" src="http://localhost/SportMall/src/images/story/star/star1-hd.png"></div>
                    <div class="star-pic">
                        <a href="/brand/armourvents.htm"><img src="http://localhost/SportMall/src/images/story/star/star1.jpg"></a>
                    </div>
                </li>
                <li class="swiper-slide">
                    <div class="star-title"><img class="star-name" src="http://localhost/SportMall/src/images/story/star/star1-hd.png"></div>
                    <div class="star-pic">
                        <a href="/brand/armourvents.htm"><img src="http://localhost/SportMall/src/images/story/star/star1.jpg"></a>
                    </div>
                </li>
                <li class="swiper-slide">
                    <div class="star-title"><img class="star-name" src="http://localhost/SportMall/src/images/story/star/star1-hd.png"></div>
                    <div class="star-pic">
                        <a href="/brand/armourvents.htm"><img src="http://localhost/SportMall/src/images/story/star/star1.jpg"></a>
                    </div>
                </li>
                <li class="swiper-slide">
                    <div class="star-title"><img class="star-name" src="http://localhost/SportMall/src/images/story/star/star1-hd.png"></div>
                    <div class="star-pic">
                        <a href="/brand/armourvents.htm"><img src="http://localhost/SportMall/src/images/story/star/star1.jpg"></a>
                    </div>
                </li>
                <li class="swiper-slide">
                    <div class="star-title"><img class="star-name" src="http://localhost/SportMall/src/images/story/star/star1-hd.png"></div>
                    <div class="star-pic">
                        <a href="/brand/armourvents.htm"><img src="http://localhost/SportMall/src/images/story/star/star1.jpg"></a>
                    </div>
                </li>
            </ul>
        </div>
        <div class="arro-left swiper-button-next-recommend swiper-button-prev"></div>
        <div class="arro-right swiper-button-prev-recommend swiper-button-next"></div>
    </div>
</div>
<!-- 多个明星轮播js -->
<script>
    var mySwiper4 = new Swiper('#swiper-container4', {
        centeredSlides: false,
        slidesPerView: 'auto',
        loop: true,
        loopedSlides: 12,
        prevButton: '.arro-left',
        nextButton: '.arro-right',
    });
</script>