<!-- pc、移动公用-推荐商品 -->
<div class="cart_rec_con cart_rec_con_common">
    <h2>推荐商品</h2>
    <div class="recommendshoping recommendshoping-common">
        <div id="swiper-container3" class="swiper-container swiper-container-recommend swiper-container-horizontal">
            <div class="swiper-wrapper brand_rec_profrombfd">
                <div class="swiper-slide swiper-slide-active">
                    <a href="" target="_blank">
                        <img src="http://localhost/SportMall/src/images/recommend/1_150X200.png" alt="男子UA Curry 3篮球鞋">
                        <div class="recommend-name bold_t">男子UA Curry 3篮球鞋</div>
                        <div class="recommend-price">￥1299.00</div>
                    </a>
                </div>
                <div class="swiper-slide swiper-slide-next">
                    <a href="" target="_blank">
                        <img src="http://localhost/SportMall/src/images/recommend/1_150X200.png" alt="男子UA Fire Shot篮球鞋">
                        <div class="recommend-name bold_t">男子UA Fire Shot篮球鞋</div>
                        <div class="recommend-price">￥999.00</div>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="" target="_blank">
                        <img src="http://localhost/SportMall/src/images/recommend/1_150X200.png" alt="男子UA Storm Armour Fleece Icon拉链衫连帽上衣">
                        <div class="recommend-name bold_t">男子UA Storm Armour Fleece Icon拉链衫连帽上衣</div>
                        <div class="recommend-price">￥699.00</div>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="" target="_blank">
                        <img src="http://localhost/SportMall/src/images/recommend/1_150X200.png" alt="男子UA Rival Fleece Patterned Joggers长裤">
                        <div class="recommend-name bold_t">男子UA Rival Fleece Patterned Joggers长裤</div>
                        <div class="recommend-price">￥599.00</div>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="" target="_blank">
                        <img src="http://localhost/SportMall/src/images/recommend/1_150X200.png" alt="男子UA HeatGear® Armour短袖强力伸缩型运动上衣">
                        <div class="recommend-name bold_t">男子UA HeatGear® Armour短袖强力伸缩型运动上衣</div>
                        <div class="recommend-price">￥249.00</div>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="" target="_blank">
                        <img src="http://localhost/SportMall/src/images/recommend/1_150X200.png" alt="男子UA Jet中帮篮球鞋">
                        <div class="recommend-name bold_t">男子UA Jet中帮篮球鞋</div>
                        <div class="recommend-price">￥699.00</div>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="" target="_blank">
                        <img src="http://localhost/SportMall/src/images/recommend/1_150X200.png" alt="男子UA Charged Bandit 2夜跑鞋">
                        <div class="recommend-name bold_t">男子UA Charged Bandit 2夜跑鞋</div>
                        <div class="recommend-price">￥999.00</div>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="" target="_blank">
                        <img src="http://localhost/SportMall/src/images/recommend/1_150X200.png" alt="男子UA Flux手套">
                        <div class="recommend-name bold_t">男子UA Flux手套</div>
                        <div class="recommend-price">￥199.00</div>
                    </a>
                </div>
            </div>
        </div>
        <div class="swiper-button-next swiper-button-next3 swiper-button-next-recommend"></div>
        <div class="swiper-button-prev swiper-button-prev3 swiper-button-prev-recommend"></div>
    </div>
</div>
<script>
var swiper3 = new Swiper('#swiper-container3', {
    prevButton: '.swiper-button-prev3',
    nextButton: '.swiper-button-next3',
    slidesPerView: 'auto',
    centeredSlides: false,
    paginationClickable: true,
});
</script>
