<!-- 底部 -->
<footer id="colophon" class="site-footer" role="contentinfo">
    <div id="footer" class="footer">
        <div class="footer-content">
            <!-- pc端footer顶部 -->
            <div class="footer-top clear">
                <div class="footer-information">了解UA最新资讯</div>
                <div class="footer-email">
                    <input type="text" class="" id="subscriptEmail" placeholder="输入邮箱地址" />
                </div>
                <a class="subscribe-but" href="javascript:void(0)">立即订阅</a>
                <div class="order-notice" style="display: none;"></div>
                <div class="footer-share">
                    <span>关注UA</span>
                    <a href="javascript:void(0);" class="weChat">
                        <img src="http://localhost/SportMall/src/images/mobile/share-1.png" />
                    </a>
                    <a target="_blank" href="" class="weibo">
                        <img src="http://localhost/SportMall/src/images/mobile/share-2.png" />
                    </a>
                    <div class="weChat-pop-up">
                        <img data-src="http://localhost/SportMall/src/images/mobile/share-3.png" />
                    </div>
                </div>
            </div>
            <!-- pc、移动共用向导 -->
            <div class="wizard clear">
                <!-- pc、移动端向导标题  dt在pc、移动都显示，dd只在pc端显示 -->
                <ul class="wizard-content">
                    <li class="">
                        <dl>
                            <dt>
                                <a href="javascript:void(0);"><strong>客户服务</strong></a>
                            </dt>
                            <dd>
                                <a href="">常见问题</a>
                            </dd>
                            <dd>
                                <a href="">联系我们</a>
                            </dd>
                            <dd>
                                <a href="">加入我们</a>
                            </dd>
                            <dd>
                                <a href="">团购申请</a>
                            </dd>
                        </dl>
                    </li>
                    <li class="">
                        <dl>
                            <dt>
                                <a href="javascript:void(0);"><strong>选购指引</strong></a>
                            </dt>
                            <dd>
                                <a href="">尺码说明</a>
                            </dd>
                        </dl>
                    </li>
                    <li class="">
                        <dl>
                            <dt>
                                <a href="javascript:void(0);"><strong>订单及售后</strong></a>
                            </dt>
                            <dd>
                                <a href="">退换货政策说明</a>
                            </dd>
                            <dd>
                                <a href="">物流与配送</a>
                            </dd>
                            <dd>
                                <a href="">支付说明</a>
                            </dd>
                            <dd>
                                <a href="">游客订单查询</a>
                            </dd>
                        </dl>
                    </li>
                </ul>
                <!-- 移动端隐藏/显示切换向导 -->
                <div class="mobile_help_pop">
                    <ul>
                        <li><a href="">常见问题</a></li>
                        <li><a href="">联系我们</a></li>
                        <li><a href="">加入我们</a></li>
                    </ul>
                </div>
                <div class="mobile_help_pop">
                    <ul>
                        <li><a href="">尺码说明</a></li>
                    </ul>
                </div>
                <div class="mobile_help_pop">
                    <ul>
                        <li><a href="">游客订单查询</a></li>
                        <li><a href="">退换货政策说明</a></li>
                        <li><a href="">物流与配送</a></li>
                        <li><a href="">支付说明</a></li>
                    </ul>
                </div>
                <!-- 联系电话、在线咨询等 -->
                <ul class="wizard-contact">
                    <!-- pc、移动端出现 -->
                    <li class="phone">
                        <a href="">
                            <span>
                                <img style="display: none;" src="http://localhost/SportMall/src/images/mobile/icon-1.png" />
                            </span>
                            400-021-8989
                        </a>
                    </li>
                    <!-- 在线咨询-pc端出现 -->
                    <li class="consulting">
                        <a href="" target="_blank">
                            <img alt="" src="http://localhost/SportMall/src/images/live800cnfooter.png">
                        </a>
                    </li>
                    <!-- 在线咨询-移动端出现 -->
                    <li class="mb-consulting-bottom">
                        <a href="" target="_blank">
                            <img alt="" src="http://localhost/SportMall/src/images/live800cnfooter.png">
                        </a>
                    </li>
                    <!-- pc端出现 -->
                    <li class="store">
                        <a href="">
                            <span></span>线下店铺
                        </a>
                    </li>
                    <!-- pc端出现 -->
                    <li class="footer-trademark">
                        <img data-src="http://localhost/SportMall/src/images/trademark-1.png">
                    </li>
                </ul>
            </div>
            <!-- 移动端footer顶部 -->
            <div class="footer-top-mobile clear">
                <div class="footer-information">了解UA最新资讯</div>
                <div class="footer-email">
                    <input type="text" class="" id="mobsubscriptEmail" placeholder="输入邮箱地址" />
                </div>
                <a class="subscribe-but" href="javascript:void(0)">立即订阅</a>
                <div class="footer-share">
                    <a href="#" class="weChat">
                        <img src="http://localhost/SportMall/src/images/mobile/share-1.png" />
                    </a>
                    <a target="_blank" href="" class="weibo">
                        <img src="http://localhost/SportMall/src/images/mobile/share-2.png" />
                    </a>
                </div>
            </div>
            <!-- pc、移动共用footer底部 -->
            <div class="footer-bottom clear">
                <ul class="footer-list">
                    <li class="copyright-top">Copyright ©2017 Under Armour, Inc.</li>
                    <li class="divider">|</li>
                    <li><a href="">隐私权保护</a></li>
                    <li class="divider">|</li>
                    <li><a href="">使用规则</a></li>
                    <li class="divider">|</li>
                    <li><a href="">网站地图</a></li>
                    <li class="divider divider-opacity">|</li>
                    <li>沪ICP备12034417号</li>
                    <li class="copyright-bottom">Copyright ©2017 Under Armour, Inc.
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>