<!-- 头部开始 -->
<div id="header" class="header">
	<!-- 顶部推送语 -->
    <div class="messaging-zone">
        <div>
            <img class="mail-box" src="http://localhost/SportMall/src/images/onsale-message.png">&nbsp;全场满199元免邮费<span></span>
        </div>
    </div>
    <!-- pc端头部、包含菜单，产品分类，在线咨询等 -->
    <div class="header-content">
        <div class="menu">
            <div class="menu-content">
            	<!-- logo -->
                <span class="logo">
                	<a href="http://localhost/SportMall/src/index.php" class="">
                		<img src="http://localhost/SportMall/src/images/logo.jpg">
                	</a>
                </span>
                <!-- 线下店铺、在线咨询 -->
                <ul class="util-nav">
                    <!-- <li class="phone">
                        <a href="http://localhost/SportMall/src/help/contact-us.php">
                            <span></span>400-021-8989
                        </a>
                    </li>
                    <li class="top-consulting" id="live800_99997">
                        <a href="live800login.html" target="_blank">
                            <img alt="" src="http://localhost/SportMall/src/images/live800cnheader.png">
                        </a>
                        <input type="hidden" id="infoValue" value="">
                        <input type="hidden" id="enterurl" value="index.html">
                        <input type="hidden" id="remarkValue" value="">
                        <input type="hidden" id="vid" value="0e52a689-b05f-483e-8de4-79f77b398bbc">
                    </li> -->
                    <li class="store">
                        <a href="http://localhost/SportMall/src/cn/storelocator/storelocator.php">
                            <span></span>线下店铺
                        </a>
                    </li>
                </ul>
                <!-- 产品分类导航 -->
                <div class="nav">
                    <ul class="nav-ul clearfix">
                        <li class="nav-li"><a href="http://localhost/SportMall/src/cn/newitem/newitem.php">新品推荐</a>
                            <div class="nav-two navbg2">
                                <div class="clear">
                                    <dl class="float-left">
                                        <dt>
                                            <strong>
                                            	<a href="">男子新品推荐</a>
											</strong>
                                        </dt>
                                        <dt>
                                            <strong>
                                            	<a href="">女子新品推荐</a>
											</strong>
                                        </dt>
                                        <dt>
                                            <strong>
                                            	<a href="">所有新品推荐</a>
											</strong>
                                        </dt>
                                    </dl>
                                </div>
                            </div>
                        </li>
                        <li class="nav-li sellingGoods"><a href="http://localhost/SportMall/src/cn/newitem/newitem.php">热卖商品</a>
                            <div class="nav-two navbg2">
                                <div class="clear">
                                    <dl class="float-left">
                                        <dt>
                                            <strong>
                                            	<a href="">男子热卖商品</a>
										</strong>
                                        </dt>
                                        <dt>
                                            <strong>
                                            	<a href="">女子热卖商品</a>
											</strong>
                                        </dt>
                                        <dt>
                                            <strong>
                                            	<a href="">所有热卖商品</a>
											</strong>
                                        </dt>
                                    </dl>
                                </div>
                            </div>
                        </li>
                        <li class="nav-li"><a href="http://localhost/SportMall/src/mens.php">男子装备</a>
                            <div class="nav-two navbg3">
                                <div class="nav-male clear">
                                    <ul class="recommended-series clear">
                                        <li class="recommended">
                                            <dl class="">
                                                <dt>
                                                    <strong>
                                                    	<a href="">推荐系列</a>
                                                    </strong>
                                                </dt>
                                                <dd>
                                                    <a href="">男子季末精选</a>
                                                </dd>
                                                <dd>
                                                    <a href="">Coldgear Infrared系列</a>
                                                </dd>
                                                <dd>
                                                    <a href="">运动耳机</a>
                                                </dd>
                                                <dd>
                                                    <a href="">Armour贴身运动衣</a>
                                                </dd>
                                                <dd>
                                                    <a href="">Reactor系列</a>
                                                </dd>
                                                <dd>
                                                    <a href="">Curry库里专区</a>
                                                </dd>
                                                <dd style="position: relative;padding-bottom: 0px;">
                                                    <a href="" class="equipment">
                                                        <img src="http://localhost/SportMall/src/images/trademark3.png" />
                                                    </a>
                                                </dd>
                                                <dd style="position: relative;padding-bottom: 0px;">
                                                    <a href="" class="equipment">
                                                        <img src="http://localhost/SportMall/src/images/trademark1.png" />
                                                    </a>
                                                </dd>
                                                <dd style="position: relative;padding-bottom: 0px;">
                                                    <a href="" class="equipment">
                                                        <img src="http://localhost/SportMall/src/images/trademark2.png" />
                                                    </a>
                                                </dd>
                                            </dl>
                                        </li>
                                        <li class="kinds">
                                            <dl class="">
                                                <dt>
                                                    <strong>
                                                    	<a href="">上装</a>
                                                    </strong>
                                                </dt>
                                                <dd>
                                                    <a href="">外套</a>
                                                </dd>
                                                <dd>
                                                    <a href="">连帽上衣</a>
                                                </dd>
                                                <dd>
                                                    <a href="">长袖</a>
                                                </dd>
                                                <dd>
                                                    <a href="">短袖</a>
                                                </dd>
                                                <dd>
                                                    <a href="">背心</a>
                                                </dd>
                                                <dd>
                                                    <a href="">POLO衫</a>
                                                </dd>
                                            </dl>
                                        </li>
                                        <li class="kinds">
                                            <dl class="">
                                                <dt>
                                                    <strong>
                                                    	<a href="">下装</a>
                                                    </strong>
                                                </dt>
                                                <dd>
                                                    <a href="">紧身裤</a>
                                                </dd>
                                                <dd>
                                                    <a href="">长裤</a>
                                                </dd>
                                                <dd>
                                                    <a href="">短裤</a>
                                                </dd>
                                                <dd>
                                                    <a href="">中裤</a>
                                                </dd>
                                                <dd>
                                                    <a href="">内裤</a>
                                                </dd>
                                            </dl>
                                        </li>
                                        <li class="kinds">
                                            <dl class="">
                                                <dt>
                                                    <strong>
                                                    	<a href="">鞋类</a>
                                                    </strong>
                                                </dt>
                                                <dd>
                                                    <a href="">跑步鞋</a>
                                                </dd>
                                                <dd>
                                                    <a href="">训练鞋</a>
                                                </dd>
                                                <dd>
                                                    <a href="">篮球鞋</a>
                                                </dd>
                                                <dd>
                                                    <a href="">足球鞋</a>
                                                </dd>
                                                <dd>
                                                    <a href="">棒球鞋</a>
                                                </dd>
                                            </dl>
                                        </li>
                                        <li class="kinds">
                                            <dl class="">
                                                <dt>
                                                    <strong>
                                                    	<a href="">配件</a>
                                                    </strong>
                                                </dt>
                                                <dd>
                                                    <a href="">运动耳机</a>
                                                </dd>
                                                <dd>
                                                    <a href="">包</a>
                                                </dd>
                                                <dd>
                                                    <a href="">帽</a>
                                                </dd>
                                                <dd>
                                                    <a href="">袜</a>
                                                </dd>
                                                <dd>
                                                    <a href="">手套</a>
                                                </dd>
                                                <dd>
                                                    <a href="">其他</a>
                                                </dd>
                                            </dl>
                                        </li>
                                        <li class="kinds">
                                            <dl class="">
                                                <dt>
                                                    <strong>
                                                    	<a href="">运动</a>
                                                    </strong>
                                                </dt>
                                                <dd>
                                                    <a href="">训练</a>
                                                </dd>
                                                <dd>
                                                    <a href="">跑步</a>
                                                </dd>
                                                <dd>
                                                    <a href="">篮球</a>
                                                </dd>
                                                <dd>
                                                    <a href="">高尔夫</a>
                                                </dd>
                                                <dd>
                                                    <a href="">登山</a>
                                                </dd>
                                                <dd>
                                                    <a href="">足球</a>
                                                </dd>
                                                <dd>
                                                    <a href="">棒球</a>
                                                </dd>
                                            </dl>
                                        </li>
                                        <li class="kinds">
                                            <dl class="">
                                                <dt>
                                                    <strong>
                                                    	<a href="">剪裁</a>
                                                    </strong>
                                                </dt>
                                                <dd>
                                                    <a href="">强力伸缩型</a>
                                                </dd>
                                                <dd>
                                                    <a href="">修身型</a>
                                                </dd>
                                                <dd>
                                                    <a href="">宽松型</a>
                                                </dd>
                                            </dl>
                                        </li>
                                        <li class="buy-all">
                                            <a href="">购买所有男子装备&nbsp;></a>
                                        </li>
                                    </ul>
                                    <ul class="movement-series clear">
                                        <div>
                                            <strong>运动</strong>
                                        </div>
                                        <li>
                                            <a href="">
                                                <span>
													 <img src="http://localhost/SportMall/src/images/menu-img/men.png" />
												</span>
                                                <div>训练</div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="">
                                                <span>
													 <img src="http://localhost/SportMall/src/images/menu-img/men.png" />
												</span>
                                                <div>跑步</div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="">
                                                <span>
													<img src="http://localhost/SportMall/src/images/menu-img/men.png" />
												</span>
                                                <div>篮球</div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="">
                                                <span>
													 <img src="http://localhost/SportMall/src/images/menu-img/men.png" />
												</span>
                                                <div>高尔夫</div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="">
                                                <span>
													<img src="http://localhost/SportMall/src/images/menu-img/men.png" />
												</span>
                                                <div>登山</div>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li class="nav-li"><a href="http://localhost/SportMall/src/womens.php">女子装备</a>
                            <div class="nav-two navbg3">
                                <div class="nav-male clear">
                                    <ul class="recommended-series clear">
                                        <li class="recommended">
                                            <dl class="">
                                                <dt>
                                                    <strong>
                                                    	<a href="">推荐系列</a>
                                                    </strong>
                                                </dt>
                                                <dd>
                                                    <a href="">女子季末精选</a>
                                                </dd>
                                                <dd>
                                                    <a href="">运动耳机</a>
                                                </dd>
                                                <dd>
                                                    <a href="">运动内衣</a>
                                                </dd>
                                                <dd>
                                                    <a href="">Fleece保暖系列</a>
                                                </dd>
                                                <dd>
                                                    <a href="">Reactor系列</a>
                                                </dd>
                                                <dd>
                                                    <a href="">UA Favorite系列</a>
                                                </dd>
                                                <dd style="position: relative;padding-bottom: 0px;">
                                                    <a href="" class="equipment">
                                                        <img src="http://localhost/SportMall/src/images/trademark1.png" />
                                                    </a>
                                                </dd>
                                                <dd style="position: relative;padding-bottom: 0px;">
                                                    <a href="" class="equipment">
                                                        <img src="http://localhost/SportMall/src/images/trademark2.png" />
                                                    </a>
                                                </dd>
                                                <dd style="position: relative;padding-bottom: 0px;">
                                                    <a href="" class="equipment">
                                                        <img src="http://localhost/SportMall/src/images/trademark3.png" />
                                                    </a>
                                                </dd>
                                            </dl>
                                        </li>
                                        <li class="kinds">
                                            <dl class="">
                                                <dt>
                                                    <strong>
                                                    	<a href="">上装</a>
                                                    </strong>
                                                </dt>
                                                <dd>
                                                    <a href="">运动内衣</a>
                                                </dd>
                                                <dd>
                                                    <a href="">外套</a>
                                                </dd>
                                                <dd>
                                                    <a href="">连帽上衣</a>
                                                </dd>
                                                <dd>
                                                    <a href="">长袖</a>
                                                </dd>
                                                <dd>
                                                    <a href="">短袖</a>
                                                </dd>
                                                <dd>
                                                    <a href="">背心</a>
                                                </dd>
                                            </dl>
                                        </li>
                                        <li class="kinds">
                                            <dl class="">
                                                <dt>
                                                    <strong>
                                                    	<a href="">下装</a>
                                                    </strong>
                                                </dt>
                                                <dd>
                                                    <a href="">紧身裤</a>
                                                </dd>
                                                <dd>
                                                    <a href="">长裤</a>
                                                </dd>
                                                <dd>
                                                    <a href="">短裤</a>
                                                </dd>
                                                <dd>
                                                    <a href="">中裤</a>
                                                </dd>
                                                <dd>
                                                    <a href="">内裤</a>
                                                </dd>
                                            </dl>
                                        </li>
                                        <li class="kinds">
                                            <dl class="">
                                                <dt>
                                                    <strong>
                                                    	<a href="">鞋类</a>
                                                    </strong>
                                                </dt>
                                                <dd>
                                                    <a href="">跑鞋</a>
                                                </dd>
                                                <dd>
                                                    <a href="">训练鞋</a>
                                                </dd>
                                                <dd>
                                                    <a href="">拖鞋</a>
                                                </dd>
                                            </dl>
                                        </li>
                                        <li class="kinds">
                                            <dl class="">
                                                <dt>
                                                    <strong>
                                                    	<a href="">配件</a>
                                                    </strong>
                                                </dt>
                                                <dd>
                                                    <a href="">运动耳机</a>
                                                </dd>
                                                <dd>
                                                    <a href="">包</a>
                                                </dd>
                                                <dd>
                                                    <a href="">帽</a>
                                                </dd>
                                                <dd>
                                                    <a href="">袜</a>
                                                </dd>
                                                <dd>
                                                    <a href="">头带</a>
                                                </dd>
                                                <dd>
                                                    <a href="">手套</a>
                                                </dd>
                                                <dd>
                                                    <a href="">其他</a>
                                                </dd>
                                            </dl>
                                        </li>
                                        <li class="kinds">
                                            <dl class="">
                                                <dt>
                                                    <strong>
                                                    	<a href="">运动</a>
                                                    </strong>
                                                </dt>
                                                <dd>
                                                    <a href="">训练</a>
                                                </dd>
                                                <dd>
                                                    <a href="">健身/瑜伽</a>
                                                </dd>
                                                <dd>
                                                    <a href="">跑步</a>
                                                </dd>
                                                <dd>
                                                    <a href="">登山</a>
                                                </dd>
                                            </dl>
                                        </li>
                                        <li class="kinds">
                                            <dl class="">
                                                <dt>
                                                    <strong>
                                                    	<a href="">剪裁</a>
                                                    </strong>
                                                </dt>
                                                <dd>
                                                    <a href="">强力伸缩型</a>
                                                </dd>
                                                <dd>
                                                    <a href="">修身型</a>
                                                </dd>
                                                <dd>
                                                    <a href="">宽松型</a>
                                                </dd>
                                            </dl>
                                        </li>
                                        <li class="buy-all">
                                            <a href="">购买所有女子装备&nbsp;></a>
                                        </li>
                                    </ul>
                                    <ul class="movement-series clear">
                                        <div>
                                            <strong>运动</strong>
                                        </div>
                                        <li>
                                            <a href="">
                                                <span>
													<img src="http://localhost/SportMall/src/images/menu-img/women.png" />
												</span>
                                                <div>训练</div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="">
                                                <span>
													<img src="http://localhost/SportMall/src/images/menu-img/women.png" />
												</span>
                                                <div>健身/瑜伽</div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="">
                                                <span>
													<img src="http://localhost/SportMall/src/images/menu-img/women.png" />
												</span>
                                                <div>跑步</div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="">
                                                <span>
													<img src="http://localhost/SportMall/src/images/menu-img/women.png" />
												</span>
                                                <div>登山</div>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li class="nav-li"><a href="http://localhost/SportMall/src/cn/brandstory/brandstory.php">品牌故事</a>
                            <div class="nav-two navbg2">
                                <div class="clear">
                                    <dl class="float-left brand-story">
                                        <dt>
                                            <strong><a href="http://localhost/SportMall/src/cn/brand/aboutua.php">关于品牌</a></strong>
                                        </dt>
                                        <dt>
                                            <strong><a href="http://localhost/SportMall/src/cn/brand/gearline.php">装备系列</a></strong>
                                        </dt>
                                        <dt>
                                            <strong><a href="http://localhost/SportMall/src/cn/brand/innovation.php">创新科技</a></strong>
                                        </dt>
                                        <dt>
                                            <strong><a href="http://localhost/SportMall/src/cn/brand/athletes.php">运动明星</a></strong>
                                        </dt>
                                    </dl>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <!-- 搜索框 -->
                <div class="module-typeahead">
                    <span>
                    	<a href="javaScript:subform1()">
                    		<img src="http://localhost/SportMall/src/images/search.png"/>
                    	</a>
                    </span>
                    <input class="search" type="text" name="keyword" id="keyword1" value="" placeholder="搜索">
                </div>
            </div>
        </div>
    </div>
    <!-- 移动端菜单导航 -->
    <div id="navbar" class="mobile-nav clear">
        <div class="mobile-nav-two">
            <a href="javascript:void(0);" class="menubtn">
                <img src="http://localhost/SportMall/src/images/mobile/hamburger.png" />
            </a>
            <a href="http://localhost/SportMall/src/cn/storelocator/storelocator.php" class="mobile-positioning">
                <img src="http://localhost/SportMall/src/images/mobile/positioning.png" />
            </a>
            <a href="http://localhost/SportMall/src/index.php" class="mobile-logo">
                <div>logo</div>
                <img src="http://localhost/SportMall/src/images/mobile/logo.png" />
            </a>
            <a href="javascript:void(0);" id="mobile-search" class="mobile-search">
                <img src="http://localhost/SportMall/src/images/mobile/search.png" />
            </a>
            <div class="mobile-search-content" id="mobile-search-content">
                <div class="">
                    <span>
                    	<a href="javaScript:subform3()">
							<img class="search-icon" src="http://localhost/SportMall/src/images/search.png" />
							<img class="search-icon-mobile" src="http://localhost/SportMall/src/images/mobile/search-mobile.png" />
						</a> 
					</span>
                    <input class="search" type="text" name="keyword" id="keyword3" value="" placeholder="搜索">
                </div>
            </div>
        </div>
    </div>

    <!-- 返回顶部 -->
    <div class="back-top events-top">
        <a class="events-top"><i class="icon icon-back-top"></i></a>
    </div>


    <!-- 搜索框回车键跳转 -->
    <script type="text/javascript">
        // 搜索框回车键跳转
        $(function() {
            $("#keyword1,#keyword2,#keyword3").on('keypress', function(e) {
                if (e.keyCode == 13) {
                    var keywords = $(this).val();
                    window.location = pagebase + "/search?searchWord=" + keywords;
                }
            });
        });
    </script>
    <!-- 每个搜索按钮执行的函数 PC端、移动端input框 -->
    <script type="text/javascript">
        // 每个搜索按钮执行的函数 PC端、移动端input框
        function subform1() {
            var keywords = $("#keyword1").val();
            window.location = pagebase + "/search?searchWord=" + keywords;
        }

        function subform3() {
            var keywords = $("#keyword3").val();
            window.location = pagebase + "/search?searchWord=" + keywords;
        }


        $(document).ready(function() {
        	// pc端头部、包含菜单，产品分类，在线咨询等fixed时的样式
            $(".menu").capacityFixed();
            // 手机端下拉菜单
            $(".mobile-middle-menu ul li").mobile_middle_menu();
        });

    </script>
</div>
<!-- 头部结束