<meta http-equiv="content-type" content="text/html;charset=utf-8">
<meta name="viewport" content="width=device-width, user-scalable=0, maximum-scale=1, initial-scale=1">
<meta name="keywords" content="" />
<meta name="applicable-device" content="pc,mobile" />
<meta http-equiv="Cache-Control" content="no-transform " />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<meta http-equiv="X-UA-Compatible" content="IE=9"/>
<link rel="shortcut icon" href="" type="image/x-icon">
<!-- 样式 -->
<link rel="stylesheet" href="http://localhost/SportMall/src/css/index9210.css" />
<link rel="stylesheet" href="http://localhost/SportMall/src/css/video-js.min.css">
<link rel="stylesheet" href="http://localhost/SportMall/src/css/swiper-3.4.0.min.css">
<link rel="stylesheet" href="http://localhost/SportMall/src/css/homepage-nav.css" />
<link rel="stylesheet" href="http://localhost/SportMall/src/css/0918.css" />
<!-- js -->
<script src="http://localhost/SportMall/src/scripts/index.js"></script>
<script src="http://localhost/SportMall/src/scripts/video.min.js"></script>
<script src="http://localhost/SportMall/src/scripts/swiper-3.4.0.min.js"></script>
<title>运动品牌专卖</title>
<!-- pc端导航 -->
<style>
    body {
        overflow-x: hidden;
    }
    .nav-two .nav-male .recommended-series.border_none {
        border: none;
    }
    
    .nav-two .nav-male .recommended.border_none {
        border: none;
    }
    
    .nav-two .nav-male .buy-all.buy-all-fix {
        right: 40px;
    }
    
    .nav-two .nav-male.the_nav_five .kinds {
        margin: 0 0 0 52px;
    }
    
    @media(max-width:1435px) {
        .nav-two .nav-male.the_nav_five .kinds {
            margin: 0 0 0 49px;
        }
    }
    
    @media(max-width:1366px) {
        .nav-two .nav-male.the_nav_five .kinds {
            margin: 0px 0px 0px 5.2%;
        }
    }
    
    @media(max-width:1024px) {
        .nav-two .nav-male.the_nav_five .kinds {
            margin: 0px 0px 0px 42px;
        }
    }
</style>
<!-- 轮播 -->
<style>
    .swiper-container {
        width: 100%;
        height: 100%;
    }
    .swiper-slide {
        text-align: center;
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }
    .block {
    	display: block;
    	width: 100%!important;
    }
</style>
<!-- 文字按钮 -->
<style>
    .landingpaga-text {
		cursor: pointer;
	}
</style>
<!-- video视频样式 -->
<style>
	.video-box {
		width: 100%;
		margin-top: 60px;
	}
	.video-js {
		float: left;
		width: 49%;
		height: 400px;
	}
	.video-js:nth-of-type(1) {
		margin-right: 2%;
	}
	@media (max-width:1140px) {
		.video-js {
			float: left;
			width: 49%;
			height: 300px;
		}
	}
	@media (max-width:970px) {
		.video-js {
			float: left;
			width: 49%;
			height: 250px;
		}
	}
</style>
<!--banner1banner2  特别挑选出来的产品1-->
<style>
	.posi-rel {
		position: relative;
	}
</style>
<!-- 移动端文字按钮 -->
<style>
	.mobile-advertising .tol-btn {
		display:block;margin-bottom: 15px;
	}
    .mobile-advertising .text-btn img {
        height: 100%;
    }
	.mobile-advertising .text-btn {
		position: absolute;top:53.1300%;width:22.7900%;height:39.3800%;
	}
	.mobile-advertising .text-btn {
		position: absolute;top:53.1300%;width:22.7900%;height:39.3800%;
	}
	.mobile-advertising .text-btn:nth-of-type(1) {
		left:3.6500%;
	}
	.mobile-advertising .text-btn:nth-of-type(2) {
		left:27.0800%;
	}
	.mobile-advertising .text-btn:nth-of-type(3) {
		left:50%;
	}
	.mobile-advertising .text-btn:nth-of-type(4) {
		left:73%;
	}
</style>
<!-- 移动端轮播 -->
<style>
	.m-slide-a {
		position: absolute;width:20.9600%;height:38.9800%;top:60.6100%;
	}
	.m-slide-a:nth-of-type(1) {
		left:18.1000%;
	}
	.m-slide-a:nth-of-type(2) {
		left:39.1900%;
	}
	.m-slide-a:nth-of-type(3) {
		left:60.1600%;
	}
</style>
<!--移动端推荐商品 -->
<style>
    .recommend-det {
        font-size: 12px;
    }
    .recommend-det .type {
        height:30px;overflow: hidden;
    }
    .recommend-det .price {
        font-family:Microsoft YaHei;
    }
</style>
