<!-- mobile筛选 -->
<div class="mb-listing-filter">
    <div class="mb-filter-box">
        <div class="mobile-filter-modal">
            <div class="mobile-filter-container">
                <div class="filters">
                    <div class="ua-accordion ua-accordion-transition">
                        <div class="ua-accordion-cord">
                            <div class="ua-cord-header">
                                <div>
                                    <div class="accordion-header">
                                        <div class="nav-selection-title">商品分类</div>
                                        <div class="nav-selection-text"></div>
                                    </div>
                                    <div class="accordion-header-icon"></div>
                                </div>
                            </div>
                            <div class="ua-cord-content">
                                <div class="ua-cord-container">
                                    <div class="grid-nav grid-nav-category">
                                        <ul class="mobile">
                                            <li class="filter-item ">
                                                <a href="http://localhost/SportMall/src/cn/newitem/newitem.php" title="男子新品推荐">男子新品推荐</a>
                                                <ul>
                                                </ul>
                                            </li>
                                        </ul>
                                        <ul class="mobile">
                                            <li class="filter-item ">
                                                <a href="http://localhost/SportMall/src/cn/newitem/newitem.php" title="女子新品推荐">女子新品推荐</a>
                                                <ul>
                                                </ul>
                                            </li>
                                        </ul>
                                        <ul class="mobile">
                                            <li class="filter-item ">
                                                <a href="http://localhost/SportMall/src/cn/newitem/newitem.php" title="所有新品推荐">所有新品推荐</a>
                                                <ul>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="ua-cord-footer"></div>
                                </div>
                            </div>
                        </div>
                        <div class="ua-accordion-cord mb-nav-filter">
                            <div class="ua-cord-header">
                                <div>
                                    <div class="accordion-header">
                                        <div class="nav-selection-title">性别</div>
                                        <div class="nav-selection-text"></div>
                                    </div>
                                    <div class="accordion-header-icon"></div>
                                </div>
                            </div>
                            <div class="ua-cord-content">
                                <div class="ua-cord-container">
                                    <div class="grid-nav grid-nav-sex" nameid="sexname">
                                        <ul class="mobile">
                                            <li class="filter-item ">
                                                <a href="javascript:void(0);" title="男子">
    							        				男子(74)
    							        			</a>
                                            </li>
                                            <li class="filter-item ">
                                                <a href="javascript:void(0);" title="女子">
    							        				女子(51)
    							        			</a>
                                            </li>
                                            <li class="clear-selections"><a href="javascript:void(0);">清除筛选</a></li>
                                        </ul>
                                    </div>
                                    <div class="ua-cord-footer"></div>
                                </div>
                            </div>
                        </div>
                        <div class="ua-accordion-cord mb-nav-filter">
                            <div class="ua-cord-header">
                                <div>
                                    <div class="accordion-header">
                                        <div class="nav-selection-title">剪裁</div>
                                        <div class="nav-selection-text"></div>
                                    </div>
                                    <div class="accordion-header-icon"></div>
                                </div>
                            </div>
                            <div class="ua-cord-content">
                                <div class="ua-cord-container">
                                    <div class="grid-nav grid-nav-sex" nameid="clipname">
                                        <ul class="mobile">
                                            <li class="filter-item ">
                                                <a href="javascript:void(0);" title="强力伸缩型">
    							        				强力伸缩型(12)
    							        			</a>
                                            </li>
                                            <li class="filter-item ">
                                                <a href="javascript:void(0);" title="修身型">
    							        				修身型(25)
    							        			</a>
                                            </li>
                                            <li class="filter-item ">
                                                <a href="javascript:void(0);" title="宽松型">
    							        				宽松型(55)
    							        			</a>
                                            </li>
                                            <li class="clear-selections"><a href="javascript:void(0);">清除筛选</a></li>
                                        </ul>
                                    </div>
                                    <div class="ua-cord-footer"></div>
                                </div>
                            </div>
                        </div>
                        <div class="ua-accordion-cord mb-nav-filter">
                            <div class="ua-cord-header">
                                <div>
                                    <div class="accordion-header">
                                        <div class="nav-selection-title">装备</div>
                                        <div class="nav-selection-text"></div>
                                    </div>
                                    <div class="accordion-header-icon"></div>
                                </div>
                            </div>
                            <div class="ua-cord-content">
                                <div class="ua-cord-container">
                                    <div class="grid-nav grid-nav-sex" nameid="equitname">
                                        <ul class="mobile">
                                            <li class="filter-item ">
                                                <a href="javascript:void(0);" title="冷装备">
    							        				冷装备(62)
    							        			</a>
                                            </li>
                                            <li class="filter-item ">
                                                <a href="javascript:void(0);" title="全季装备">
    							        				全季装备(24)
    							        			</a>
                                            </li>
                                            <li class="filter-item ">
                                                <a href="javascript:void(0);" title="热装备">
    							        				热装备(21)
    							        			</a>
                                            </li>
                                            <li class="clear-selections"><a href="javascript:void(0);">清除筛选</a></li>
                                        </ul>
                                    </div>
                                    <div class="ua-cord-footer"></div>
                                </div>
                            </div>
                        </div>
                        <div class="ua-accordion-cord mb-nav-filter">
                            <div class="ua-cord-header">
                                <div>
                                    <div class="accordion-header">
                                        <div class="nav-selection-title">适合运动</div>
                                        <div class="nav-selection-text"></div>
                                    </div>
                                    <div class="accordion-header-icon"></div>
                                </div>
                            </div>
                            <div class="ua-cord-content">
                                <div class="ua-cord-container">
                                    <div class="grid-nav grid-nav-sex" nameid="fitsport">
                                        <ul class="mobile">
                                            <li class="filter-item ">
                                                <a href="javascript:void(0);" title="训练">训练(70)</a>
                                            </li>
                                            <li class="filter-item ">
                                                <a href="javascript:void(0);" title="跑步">跑步(20)</a>
                                            </li>
                                            <li class="filter-item ">
                                                <a href="javascript:void(0);" title="篮球">篮球(25)</a>
                                            </li>
                                            <li class="filter-item ">
                                                <a href="javascript:void(0);" title="健身/瑜伽">健身/瑜伽(8)</a>
                                            </li>
                                            <li class="filter-item ">
                                                <a href="javascript:void(0);" title="登山">登山(6)</a>
                                            </li>
                                            <li class="filter-item ">
                                                <a href="javascript:void(0);" title="休闲">休闲(2)</a>
                                            </li>
                                            <li class="filter-item ">
                                                <a href="javascript:void(0);" title="足球">足球(1)</a>
                                            </li>
                                            <li class="filter-item ">
                                                <a href="javascript:void(0);" title="徒步">徒步(1)</a>
                                            </li>
                                            <li class="clear-selections"><a href="javascript:void(0);">清除筛选</a></li>
                                        </ul>
                                    </div>
                                    <div class="ua-cord-footer"></div>
                                </div>
                            </div>
                        </div>
                        <div class="ua-accordion-cord mb-nav-filter">
                            <div class="ua-cord-header">
                                <div>
                                    <div class="accordion-header">
                                        <div class="nav-selection-title">颜色</div>
                                        <div class="nav-selection-text"></div>
                                    </div>
                                    <div class="accordion-header-icon"></div>
                                </div>
                            </div>
                            <div class="ua-cord-content">
                                <div class="ua-cord-container">
                                    <div class="grid-nav grid-nav-sex grid-nav-color" nameid="colorname">
                                        <ul class="mobile">
                                            <li class="filter-item" style="background-color:#000000;">
                                                <a href="javascript:void(0);" title="黑色">黑色</a>
                                            </li>
                                            <li class="filter-item" style="background-color:#7A7A7A;">
                                                <a href="javascript:void(0);" title="灰色">灰色</a>
                                            </li>
                                            <li class="clear-selections"><a href="javascript:void(0);">清除筛选</a></li>
                                        </ul>
                                    </div>
                                    <div class="ua-cord-footer"></div>
                                </div>
                            </div>
                        </div>
                        <div class="ua-accordion-cord mb-nav-filter">
                            <div class="ua-cord-header">
                                <div>
                                    <div class="accordion-header">
                                        <div class="nav-selection-title">价格</div>
                                        <div class="nav-selection-text"></div>
                                    </div>
                                    <div class="accordion-header-icon"></div>
                                </div>
                            </div>
                            <div class="ua-cord-content">
                                <div class="ua-cord-container">
                                    <div class="grid-nav grid-nav-sex grid-nav-price" nameid="pricerange">
                                        <ul class="mobile">
                                            <li class="filter-item ">
                                                <a href="javascript:void(0);" title="￥0-￥200">
    												￥0-￥200(2)
    											</a>
                                            </li>
                                            <li class="filter-item ">
                                                <a href="javascript:void(0);" title="￥200-￥400">
    												￥200-￥400(28)
    											</a>
                                            </li>
                                            <li class="filter-item ">
                                                <a href="javascript:void(0);" title="￥400-￥600">
    												￥400-￥600(36)
    											</a>
                                            </li>
                                            <li class="filter-item ">
                                                <a href="javascript:void(0);" title="￥600以上">
    												￥600以上(65)
    											</a>
                                            </li>
                                            <li class="clear-selections"><a href="javascript:void(0);">清除筛选</a></li>
                                        </ul>
                                    </div>
                                    <div class="ua-cord-footer"></div>
                                </div>
                            </div>
                        </div>
                        <div class="ua-accordion-cord mb-nav-filter">
                            <div class="ua-cord-header">
                                <div>
                                    <div class="accordion-header">
                                        <div class="nav-selection-title">新品推荐</div>
                                        <div class="nav-selection-text"></div>
                                    </div>
                                    <div class="accordion-header-icon"></div>
                                </div>
                            </div>
                            <div class="ua-cord-content">
                                <div class="ua-cord-container">
                                    <div class="grid-nav grid-nav-sex" nameid="newProduct">
                                        <ul class="mobile">
                                            <li class="filter-item ">
                                                <a href="javascript:void(0);" title="新品推荐">
                                                    新品推荐
                                                </a>
                                            </li>
                                            <li class="clear-selections"><a href="javascript:void(0);">清除筛选</a></li>
                                        </ul>
                                    </div>
                                    <div class="ua-cord-footer"></div>
                                </div>
                            </div>
                        </div>
                        <div class="ua-accordion-cord mb-nav-filter">
                            <div class="ua-cord-header">
                                <div>
                                    <div class="accordion-header">
                                        <div class="nav-selection-title">热卖商品</div>
                                        <div class="nav-selection-text"></div>
                                    </div>
                                    <div class="accordion-header-icon"></div>
                                </div>
                            </div>
                            <div class="ua-cord-content">
                                <div class="ua-cord-container">
                                    <div class="grid-nav grid-nav-sex" nameid="selling">
                                        <ul class="mobile">
                                            <li class="filter-item ">
                                                <a href="javascript:void(0);" title="热卖商品">
                                                    热卖商品
                                                </a>
                                            </li>
                                            <li class="clear-selections"><a href="javascript:void(0);">清除筛选</a></li>
                                        </ul>
                                    </div>
                                    <div class="ua-cord-footer"></div>
                                </div>
                            </div>
                        </div>
                        <div class="ua-accordion-cord mb-nav-filter">
                            <div class="ua-cord-header">
                                <div>
                                    <div class="accordion-header">
                                        <div class="nav-selection-title">精选特惠商品</div>
                                        <div class="nav-selection-text"></div>
                                    </div>
                                    <div class="accordion-header-icon"></div>
                                </div>
                            </div>
                            <div class="ua-cord-content">
                                <div class="ua-cord-container">
                                    <div class="grid-nav grid-nav-sex" nameid="discount">
                                        <ul class="mobile">
                                            <li class="filter-item ">
                                                <a href="javascript:void(0);" title="精选特惠商品">
                                                    精选特惠商品
                                                </a>
                                            </li>
                                            <li class="clear-selections"><a href="javascript:void(0);">清除筛选</a></li>
                                        </ul>
                                    </div>
                                    <div class="ua-cord-footer"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="filter-footer">
            <div><span>131<span>件商品</div>
    		<a>完成</a>
    	</div>
    </div>
</div>