<meta http-equiv="content-type" content="text/html;charset=utf-8">
<meta name="viewport" content="width=device-width, user-scalable=0, maximum-scale=1, initial-scale=1">
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta name="applicable-device" content="pc,mobile" />
<meta http-equiv="Cache-Control" content="no-transform " />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<meta http-equiv="X-UA-Compatible" content="IE=9" />

<link rel="stylesheet" href="http://localhost/SportMall/src/css/index9210.css" />
<link href="http://localhost/SportMall/src/css/page.css" rel="stylesheet" type="text/css" />
<link href="http://localhost/SportMall/src/css/myorders.css" rel="stylesheet" type="text/css" />
<link href="http://localhost/SportMall/src/css/new-list.css" rel="stylesheet" type="text/css" />

<script src="http://localhost/SportMall/src/scripts/index.js"></script>
<script src="http://localhost/SportMall/src/scripts/jqPaginator.js"></script>
<script src="http://localhost/SportMall/src/scripts/jquery.page.js"></script>
<script src="http://localhost/SportMall/src/scripts/new-list.js"></script>
<title>产品页</title>
<!-- pc端导航 -->
<style>
    body {
        overflow-x: hidden;
    }
    
    .nav-two .nav-male .recommended-series.border_none {
        border: none;
    }
    
    .nav-two .nav-male .recommended.border_none {
        border: none;
    }
    
    .nav-two .nav-male .buy-all.buy-all-fix {
        right: 40px;
    }
    
    .nav-two .nav-male.the_nav_five .kinds {
        margin: 0 0 0 52px;
    }
    
    @media(max-width:1435px) {
        .nav-two .nav-male.the_nav_five .kinds {
            margin: 0 0 0 49px;
        }
    }
    
    @media(max-width:1366px) {
        .nav-two .nav-male.the_nav_five .kinds {
            margin: 0px 0px 0px 5.2%;
        }
    }
    
    @media(max-width:1024px) {
        .nav-two .nav-male.the_nav_five .kinds {
            margin: 0px 0px 0px 42px;
        }
    }
</style>
