<!-- 筛选条件列表 -->
<div class="list-nav-outer">
    <div class="grid-nav-inner">
        <ul class="grid-nav">
        	<!-- 商品分类 -->
            <li class="grid-nav-header grid-nav-category">
                <div class="grid-nav-menu grid-nav-menu-name-CATEGORY">
                    <input type="hidden" nameid="productstyle" value="" />
                    <div class="grid-nav-title"><span class="grid-nav-display-name">商品分类</span></div>
                    <ul class="grid-nav-items">
                        <li class="filter-item ">
                            <a href="javascript:void(0)" title="男子新品推荐">男子新品推荐</a>
                            <ul>
                            </ul>
                        </li>
                        <li class="filter-item ">
                            <a href="" title="女子新品推荐">女子新品推荐</a>
                            <ul>
                            </ul>
                        </li>
                        <li class="filter-item ">
                            <a href="" title="所有新品推荐">所有新品推荐</a>
                            <ul>
                            </ul>
                        </li>
                        <li class="clear-selections"><a href="javascript:void(0);">清除筛选</a></li>
                    </ul>
                </div>
                <a class="clear-selected" href="javascript:void(0);"></a>
            </li>

            <!-- 性别 -->
            <li class="grid-nav-header grid-nav-filter grid-nav-sex">
                <div class="grid-nav-menu grid-nav-menu-name">
                    <input type="hidden" nameid="sexname" value="" />
                    <div class="grid-nav-title"><span class="grid-nav-display-name">性别</span></div>
                    <ul class="grid-nav-items">
                        <li class="filter-item">
                            <a href="javascript:void(0);" title="男子">
		        				男子(74)
		        			</a>
                        </li>
                        <li class="filter-item">
                            <a href="javascript:void(0);" title="女子">
		        				女子(51)
		        			</a>
                        </li>
                        <li class="clear-selections"><a href="javascript:void(0);">清除筛选</a></li>
                    </ul>
                </div>
                <a class="clear-selected" href="javascript:void(0);"></a>
            </li>
            <!-- 剪裁 -->
            <li class="grid-nav-header grid-nav-filter">
                <div class="grid-nav-menu grid-nav-menu-name">
                    <input type="hidden" nameid="clipname" value="" />
                    <div class="grid-nav-title"><span class="grid-nav-display-name">剪裁</span></div>
                    <ul class="grid-nav-items">
                        <li class="filter-item ">
                            <a href="javascript:void(0);" title="强力伸缩型">
		        				强力伸缩型(12)
		        			</a>
                        </li>
                        <li class="filter-item ">
                            <a href="javascript:void(0);" title="修身型">
		        				修身型(25)
		        			</a>
                        </li>
                        <li class="clear-selections"><a href="javascript:void(0);">清除筛选</a></li>
                    </ul>
                </div>
                <a class="clear-selected" href="javascript:void(0);"></a>
            </li>
            <!-- 装备 -->
            <li class="grid-nav-header grid-nav-filter">
                <div class="grid-nav-menu grid-nav-menu-name">
                    <input type="hidden" nameid="equitname" value="" />
                    <div class="grid-nav-title"><span class="grid-nav-display-name">装备</span></div>
                    <ul class="grid-nav-items">
                        <li class="filter-item ">
                            <a href="javascript:void(0);" title="冷装备">
		        				冷装备(62)
		        			</a>
                        </li>
                        <li class="filter-item ">
                            <a href="javascript:void(0);" title="全季装备">
		        				全季装备(24)
		        			</a>
                        </li>
                        <li class="clear-selections"><a href="javascript:void(0);">清除筛选</a></li>
                    </ul>
                </div>
                <a class="clear-selected" href="javascript:void(0);"></a>
            </li>
            <!-- 适合运动 -->
            <li class="grid-nav-header grid-nav-filter">
                <div class="grid-nav-menu grid-nav-menu-name">
                    <input type="hidden" nameid="fitsport" value="" />
                    <div class="grid-nav-title"><span class="grid-nav-display-name">适合运动</span></div>
                    <ul class="grid-nav-items">
                        <li class="filter-item ">
                            <a href="javascript:void(0);" title="训练">
		        				训练(70)
		        			</a>
                        </li>
                        <li class="filter-item ">
                            <a href="javascript:void(0);" title="跑步">
		        				跑步(20)
		        			</a>
                        </li>
                        <li class="clear-selections"><a href="javascript:void(0);">清除筛选</a></li>
                    </ul>
                </div>
                <a class="clear-selected" href="javascript:void(0);"></a>
            </li>
            <!-- 颜色 -->
            <li class="grid-nav-header grid-nav-color grid-nav-filter">
                <div class="grid-nav-menu grid-nav-menu-name-COLOR">
                    <input type="hidden" nameid="colorname" value="" />
                    <div class="grid-nav-title"><span class="grid-nav-display-name">颜色</span></div>
                    <ul class="grid-nav-items color1">
                        <li class="filter-item  
                			" style="background-color:#000000;">
                            <a href="javascript:void(0);" title="黑色">
								黑色</a>
                        </li>
                        <li class="filter-item  
                			" style="background-color:#7A7A7A;">
                            <a href="javascript:void(0);" title="灰色">
								灰色</a>
                        </li>
                        <li class="clear-selections"><a href="javascript:void(0);">清除筛选</a></li>
                    </ul>
                </div>
                <a class="clear-selected" href="javascript:void(0);"></a>
            </li>
            <!-- 价格区间 -->
            <li class="grid-nav-header grid-nav-price grid-nav-filter">
                <div class="grid-nav-menu grid-nav-menu-name-PRICE">
                    <input type="hidden" nameid="pricerange" value="" />
                    <div class="grid-nav-title"><span class="grid-nav-display-name">价格区间</span></div>
                    <ul class="grid-nav-items" id="bfd_price_range">
                        <li class="filter-item ">
                            <a href="javascript:void(0);" title="0-200">
							￥0-￥200(2)
						</a>
                        </li>
                        <li class="filter-item ">
                            <a href="javascript:void(0);" title="200-400">
							￥200-￥400(28)
						</a>
                        </li>
                        <li class="clear-selections"><a href="javascript:void(0);">清除筛选</a></li>
                    </ul>
                </div>
                <a class="clear-selected" href="javascript:void(0);"></a>
            </li>
            
            <!-- 新品推荐 -->
            <li class="grid-nav-header grid-nav-newproduct grid-nav-once">
                <div class="grid-nav-menu grid-nav-menu-name-NEWPRODUCT">
                    <input type="hidden" nameid="newProduct" value="" />
                    <div class="grid-nav-title">
                        <a href="" class="" title="新品推荐">新品推荐</a>
                    </div>
                </div>
                <a class="clear-selected newProduct" href="javascript:void(0);"></a>
            </li>
            <!-- 热卖商品 -->
            <li class="grid-nav-header grid-nav-selling grid-nav-once">
                <div class="grid-nav-menu grid-nav-menu-name-SELLING">
                    <input type="hidden" nameid="selling" value="" />
                    <div class="grid-nav-title">
                        <a href="" class="" title="热卖商品">热卖商品</a>
                    </div>
                </div>
                <a class="clear-selected selling" href="javascript:void(0);" propertyId=""></a>
            </li>
            <!-- 精选特惠商品 -->
            <li class="grid-nav-header grid-nav-selling grid-nav-once">
                <div class="grid-nav-menu grid-nav-menu-name-DISCOUNT">
                    <input type="hidden" nameid="discount" value="" />
                    <div class="grid-nav-title">
                        <a href="" class="" title="精选特惠商品">精选特惠商品</a>
                    </div>
                </div>
                <a class="clear-selected discount" href="javascript:void(0);"></a>
            </li>
            
        </ul>
    </div>
</div>