<meta http-equiv="content-type" content="text/html;charset=utf-8">
<meta name="viewport" content="width=device-width, user-scalable=0, maximum-scale=1, initial-scale=1">
<meta name="keywords" content="" />
<meta name="applicable-device" content="pc,mobile" />
<meta http-equiv="Cache-Control" content="no-transform " />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<meta http-equiv="X-UA-Compatible" content="IE=9"/>

<link rel="shortcut icon" href="" type="image/x-icon">

<link rel="stylesheet" type="text/css" href="http://localhost/SportMall/src/css/index9210.css" />
<link rel="stylesheet" type="text/css" href="http://localhost/SportMall/src/css/brandstory.css"/>
<link rel="stylesheet" type="text/css"  href="http://localhost/SportMall/src/css/check-out.css"/>
<link rel="stylesheet" type="text/css"  href="http://localhost/SportMall/src/css/video-js.min.css"/>

<script src="http://localhost/SportMall/src/scripts/index.js"></script>
<script src="http://localhost/SportMall/src/scripts/video.min.js"></script>
<title>ua运动品牌简介 - under armour运动品牌网</title>
<!-- pc端导航 -->
<style>
    body {
        overflow-x: hidden;
    }
    
    .nav-two .nav-male .recommended-series.border_none {
        border: none;
    }
    
    .nav-two .nav-male .recommended.border_none {
        border: none;
    }
    
    .nav-two .nav-male .buy-all.buy-all-fix {
        right: 40px;
    }
    
    .nav-two .nav-male.the_nav_five .kinds {
        margin: 0 0 0 52px;
    }
    
    @media(max-width:1435px) {
        .nav-two .nav-male.the_nav_five .kinds {
            margin: 0 0 0 49px;
        }
    }
    
    @media(max-width:1366px) {
        .nav-two .nav-male.the_nav_five .kinds {
            margin: 0px 0px 0px 5.2%;
        }
    }
    
    @media(max-width:1024px) {
        .nav-two .nav-male.the_nav_five .kinds {
            margin: 0px 0px 0px 42px;
        }
    }
</style>
<!-- video视频样式 -->
<style>
    .video-box {
        width: 100%;
        margin-top: 60px;
    }
    .video-js {
        float: left;
        width: 49%;
        height: 400px;
    }
    .video-js:nth-of-type(1) {
        margin-right: 2%;
    }
    @media (max-width:1140px) {
        .video-js {
            float: left;
            width: 49%;
            height: 300px;
        }
    }
    @media (max-width:970px) {
        .video-js {
            float: left;
            width: 49%;
            height: 250px;
        }
    }
</style>