
.content-pc{margin: 0 auto 0;max-width:1600px;min-width: 768px;font-family:"Microsoft YaHei";}
.btn-icon{
	display: inline-block;
	border: 5px solid #000;
	border-top: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 5px solid transparent;
	margin-left: 8px;
}
.btn-icon2{
	display: inline-block;
	border: 5px solid #fff;
	border-top: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 5px solid transparent;
	margin-left: 8px;
}
/*公告*/
.notice-text{line-height: 50px;font-size:25px;text-align: center;display: block;}
.notice-text a{margin: 0 5px;}
.notice-text a:hover{color:#a8272c;}
/* kv css */
.slick-slide{z-index:10;margin:0px auto;position:relative;}
.scroll{position:relative}
.scroll .scroller-wrap {  overflow: hidden; position: relative;}
.scroll ul { list-style: none; position: relative;  width: 100%}
.scroll ul li:first-child{display: block;}
.scroll ul li {  width: 100%;  height: auto;  display: none; position: relative; float: left;}
.scroll a img {  width: 100%; height: auto; }
.scroll-dots { letter-spacing: normal; font-size: 0; text-align: center; width: 100%;  bottom: 3%; position: absolute; left: 0; z-index: 6; }
.scroll-dots a { width: 15px; height: 15px; border-radius: 50%; display: inline-block;  background-color: #828790;  margin: 0 5px;  cursor: pointer;  overflow: hidden;  text-indent: -1000px; }
.scroll-dots a.active{background-color: #fff;}
.scroll-btn-prev, .scroll-btn-next { font-size: 25px; padding: 55px 16px; position: absolute; top: 50%; margin-top: -75px; z-index: 5; text-align: center;display: none;}
.scroll-btn-prev a, .scroll-btn-next a { cursor: pointer;  color: #444; }
.scroll-btn-prev { left: 0; }
/*---------------kv text  css--------------------*/
.kv-1-but{position: absolute;top: 35%;left: 0;border: 0px solid #F00;width: 100%;height: auto;text-align: center;display: block;color: #FFF;font-family:"Microsoft YaHei";}
.kv-1-but p{font-size:56px;font-weight:bold;}
.kv-1-but a{font-size:16px;display:inline-block;border:1px solid #FFF;background-color:rgba(0,0,0,0.5);border-radius:5px;width:150px;height:50px;line-height:50px;color:#fff;}
.kv-1-but a{margin: 10px 0 0;}
.kv-2-but a{margin: 10px 10px 0;}
.kv-1-but a:hover{background-color:rgba(0,0,0,0.8);}
.banner-nav{position:absolute;left:3.75%;top:8.57%;background: #fff;width:170px;padding:19px 18px; font-weight: normal;z-index: 1;}
.banner-nav h3{font-size: 18px; font-weight: normal; color: #000;margin-bottom: 14px;line-height: 18PX;}
.banner-nav-link{font-size:14px;}
.banner-nav-link li.on{line-height: 29px;background: #f1f1f1;}
.banner-nav-link li{padding-left:10px; line-height: 24px;}
.banner-nav-link li a{display: block;color:#000;
}
.banner-nav-link li:hover a{color:#e70033;}
/*-----------------------------------*/
/*文字按钮*/
/*文字按钮*/
.landingpaga-text{margin: 63px 0 63px;text-align: center;}
.landingpaga-text p{font-size:24px;height:24px;line-height:24px;color: #000; font-weight: normal;word-spacing:8px; letter-spacing: 2px;}
.landingpaga-text h3{font-size:50px;display:block;height:50px;line-height:50px;margin: 11px 0 19px; color:#000;}
.landingpaga-text h3 span{margin: 0 16px;display: inline-block;}
.landingpaga-text a{font-size:16px;width:141px;height:50px;line-height: 48px;display:inline-block;border: 1px solid #808080;margin: 0 8px;color:#000;font-weight: normal;font-family:"Microsoft YaHei"}
.landingpaga-text a:hover{background-color:rgba(0,0,0,0.1);}
/*banner1*/
.banner{width:100%;margin-bottom: 64px;}
.banner>div{float:left;width:50%;}
.banner .banner-text1{display: block;text-align: center;margin-top: 18px;color:#000; font-weight: bold;font-size: 18px;}
.banner-text2{display: block;text-align: center;font-size:12px;margin-top: 2px;color:#000;}
.banner-btn1{
	position: absolute;
	top: 50%;left: 0%;
	width:100%;
	margin-top: -25px;
	text-align: center;
	display: none;
	color:#000;
	
}
/*.banner2*/
.banner2{width:100%;}
.banner-box{width:33.333%;float: left;position:relative;}
.banner-link{display: block;width:100%;position:relative;}
.banner-link img{width:100%;height:auto;}
.banner-img {position: relative;}
.banner-btn{width:100%;height:100%;position:absolute;top:0;left:0;display: none;font-size: 0px;}
.banner-btn div{position:absolute;top:50%;left:0;margin-top: -25px;width:100%;text-align: center;display: none;}
.banner-btn1 a{display: inline-block;line-height: 48px;padding: 0 20px;border: 1px solid #fff;color: #fff;cursor: pointer;min-width: 141px;font-family:"Microsoft YaHei";}
.banner-box:hover .banner-btn{
	background-color:rgba(0,0,0,0.5);display: inline-block;
	filter:alpha(opacity=50);   
      -moz-opacity:0.5;   
      -khtml-opacity: 0.5;   
      opacity: 0.5;
	}
.banner-box:hover .banner-btn1{display: inline-block;}
.banner-btn1 a:hover{background: #fff;color: #000; }
.banner-btn1 a:hover .btn-icon2{display: inline-block;border: 5px solid #000;border-top: 5px solid transparent;border-right: 5px solid transparent;border-bottom: 5px solid transparent;vertical-align:middle;}
.banner2 .banner-text2,.banner .banner-text2,.banner2 .banner-text1{font-size:0;}
/*.导航*/
/*.导航*/
.landingpage-nav{padding:36px 0;text-align: center;}
.landingpage-nav-text strong{
	font-size: 18px;
	font-weight: bold;
	line-height:18px;
}
.landingpage-nav-text{display: inline-block;width:13%;text-align: left;vertical-align: top;}
.landingpage-nav-text:nth-child(1){width:14.7%;margin-left: 12.2%;}
.landingpage-nav-text dt{margin-bottom: 12px; font-size: 18px;}
.landingpage-nav-text dd{margin-bottom: 10px;cursor: pointer;font-size:14px;line-height: 14px;}
.landingpage-nav-text a{display: block; color:#000;}
.landingpage-nav-text a:hover {color:#e70033;}
@media(max-width:1024px){
	.kv-1-but{top:30%;}
	.kv-1-but p{font-size:30px;}
	.landingpaga-text{margin: 45px 0;}
	.landingpaga-text p{font-size:16px;}
	.landingpaga-text h3{font-size: 30px;}
	.banner{margin-bottom: 45px;}
}

@media(max-width:767px){
	.content-pc{
	display:none;}
}

.recommend-commodities{
	width:92%;
	margin:0 auto;
}



